{% assign double_arrow = site.data.base64.explorer_group_double_arrow %}

<div class="explorer-body">
    <div class="body-left-side">
        <div class="info-group">
            <div class="info-title">
                <label>System Tasks</label>
                <img src="{{double_arrow}}" title="double-arrow" class="info-icon-collapse">
            </div>
            <div class="info-list">
                <ul>
                    <li>
                        <a href="">
                            <img src="/assets/images/gnome-fs-client.png" title="icon">
                            <span>View system information</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/images/gnome-fs-client.png" title="icon">
                            <span>Add or remove programs</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/images/gnome-fs-client.png" title="icon">
                            <span>Change a setting</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info-group">
            <div class="info-title">
                <label>System Tasks</label>
                <img src="{{double_arrow}}" title="double-arrow" class="info-icon-collapse">
            </div>
            <div class="info-list">
                <ul>
                    <li>
                        <a href="">
                            <img src="/assets/images/gnome-fs-client.png" title="icon">
                            <span>View system information</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/images/gnome-fs-client.png" title="icon">
                            <span>Add or remove programs</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/images/gnome-fs-client.png" title="icon">
                            <span>Change a setting</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/images/gnome-fs-client.png" title="icon">
                            <span>Change a setting</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info-group">
            <div class="info-title">
                <label>System Tasks</label>
                <img src="{{double_arrow}}" title="double-arrow" class="info-icon-collapse">
            </div>
            <div class="info-list">
                <ul>
                    <li>
                        <a href="">
                            <img src="/assets/images/gnome-fs-client.png" title="icon">
                            <span>View system information</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/images/gnome-fs-client.png" title="icon">
                            <span>Add or remove programs</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/images/gnome-fs-client.png" title="icon">
                            <span>Change a setting</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-right-side">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque, diam eu mattis semper, turpis
            turpis molestie elit, ac finibus eros sem id risus. Etiam bibendum enim a facilisis hendrerit. Cras elit
            sem, malesuada vel felis in, consequat iaculis lacus. Praesent at tellus ac risus venenatis finibus vel non
            est. Maecenas gravida justo in ornare pulvinar. Donec nulla arcu, condimentum eget nunc sed, viverra
            placerat massa. Curabitur id condimentum turpis, eget auctor lacus. Quisque posuere, orci sit amet hendrerit
            efficitur, purus mi blandit nisi, eget aliquet lectus orci eu metus. Nullam ut diam libero. Pellentesque
            diam elit, scelerisque nec dolor id, tempus feugiat augue. Ut cursus vestibulum arcu quis egestas.
        </p>
        <p>Nulla et consectetur lorem, sit amet accumsan elit. Donec leo purus, scelerisque ac neque quis, tincidunt
            commodo tellus. Fusce vehicula enim risus, sagittis lacinia urna ornare posuere. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Integer vitae risus orci. Sed vel tortor
            cursus, mattis augue quis, congue augue. Mauris sit amet dui sit amet dolor auctor fringilla. Phasellus arcu
            turpis, fringilla id lacinia volutpat, mattis quis tellus.
        </p>
        <p>Praesent nec odio tortor. Aenean vitae purus eget urna iaculis venenatis sed nec nisi. Nulla vel faucibus
            metus. Ut ullamcorper, eros nec mollis suscipit, ante purus suscipit quam, vel elementum lorem lectus eget
            sapien. Ut faucibus sem libero, ut tincidunt elit sodales eu. Etiam eget risus in est placerat dictum at vel
            ante. Nulla pellentesque purus nec quam malesuada pulvinar.
        </p>
        <p>Morbi malesuada tortor purus, ac commodo tellus hendrerit sit amet. Curabitur posuere condimentum tempor.
            Suspendisse mollis imperdiet nunc, id lobortis lectus. Aenean urna metus, rhoncus vitae porta in, tincidunt
            sit amet nulla. Maecenas bibendum sapien lobortis malesuada faucibus. Etiam consectetur, neque consectetur
            gravida congue, augue lorem volutpat augue, nec scelerisque felis ipsum nec tortor. Vivamus consectetur
            purus et tellus dignissim, a pellentesque lectus sodales. Nullam et orci dapibus, lacinia odio ut, bibendum
            ipsum. Sed at dui faucibus, laoreet lacus et, rhoncus magna.
        </p>
        <p>Vivamus porta, risus a pulvinar volutpat, diam enim vehicula lectus, eget auctor elit nibh ac neque. Maecenas
            facilisis quam enim, ut eleifend ipsum scelerisque in. Nulla malesuada magna purus, vitae consectetur ex
            finibus aliquet. Praesent tristique arcu quis faucibus accumsan. Pellentesque ut nisi vel risus pellentesque
            mollis. Nam vel molestie orci. Sed non dapibus nisl. Sed sed hendrerit mauris. Nulla hendrerit in neque eget
            porttitor. Integer et lorem lacinia, ultricies nisi rhoncus, semper augue. Phasellus elementum varius magna
            et consectetur. Curabitur convallis sem a ullamcorper pulvinar.
        </p>
    </div>
</div>