<nav class="explorer-toolbar">
    <div class="toolbar-left-side">
        <ul>
            <li>
                <label>File</label>
            </li>
            <li>
                <label>Edit</label>
            </li>
            <li>
                <label>View</label>
            </li>
            <li>
                <label>Favourites</label>
            </li>
            <li>
                <label>Tools</label>
            </li>
            <li>
                <label>Help</label>
            </li>
        </ul>
    </div>
    <div class="toolbar-right-side">
        <img src="/assets/images/start-here.png" title="window-xp-logo" class="explorer-window-logo">
    </div>
</nav>