{% for shortcut in site.data.shortcuts %}
<div class="window window-hide" style="max-width: {{shortcut.size.width}}px; min-height: {{shortcut.size.height}}px"
    id="{{shortcut.id}}" tabindex="-1">
    <div class="title-bar">
        <div class="title-bar-text">
            <img src="{{shortcut.image}}" title="{{shortcut.label}}" class="window-icon">
            {{shortcut.label}}
        </div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close" onclick="hide_window_panel('{{shortcut.id}}')"></button>
        </div>
    </div>
    <div class="window-body">
    </div>
</div>
{% endfor %}