@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Calistoga';
  src: url('/src/fonts/Calistoga/Calistoga-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oi';
  src: url('/src/fonts/Oi/Oi-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manropee-Bold';
  src: url('/src/fonts/Manrope/static/Manrope-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manropee-SemiBold';
  src: url('/src/fonts/Manrope/static/Manrope-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manropee-Regular';
  src: url('/src/fonts/Manrope/static/Manrope-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

.display-1 {
  @apply font-uxcomic-oi text-uxcomic-display-1;
}

.title-1 {
  @apply font-uxcomic-manrope-bold text-uxcomic-display-1;
}

.title-2 {
  @apply font-uxcomic-manrope-bold text-lg;
}

.card-title-medium {
  @apply font-uxcomic-calistoga text-base;
}

.card-title-small {
  @apply font-uxcomic-calistoga text-uxcomic-card-title-small;
}

.body-xl {
  @apply font-uxcomic-manrope-regular text-lg;
}

.body-lg {
  @apply font-uxcomic-manrope-regular text-base;
}

.body-md {
  @apply font-uxcomic-manrope-regular text-sm;
}

.overline {
  @apply font-uxcomic-manrope-bold text-uxcomic-overline uppercase;
}

.deck {
  position: absolute;
  width: 500px;
  height: 400px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.deck > div {
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 55vh;
  max-width: 250px;
  height: 95vh;
  max-height: 385px;
  will-change: transform;
  border-radius: 10px;
  box-shadow:
    0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
